$header-background-light: #333333
$header-color-light: #CCCCCC
$primary-green-light: #44853E
$active-green-light: #046E01
$active-color-light: #FFFFFF

    
nav 
    display: flex
    align-items: center
    justify-content: space-between   
    background-color: $header-background-light 
    padding: 0.5rem

ul
    display: flex
    align-items: center
    justify-content: center
    gap: 0.3rem

li 
    list-style: none
    font-size: 1rem
    color: $header-color-light
    cursor: pointer

li:hover 
    text-decoration: underline

span 
    color: $header-color-light

.titleLogo 
    color: $primary-green-light

img 
    width: 30px

.r 
    color: $header-color-light
    font-weight: 100
