$header-background-light: #333333
$header-color-light: #CCCCCC
$primary-green-light: #44853E
$active-green-light: #046E01
$active-color-light: #FFFFFF

main
    height: 100vh
    display: flex
    flex-direction: column


nav 
    display: flex
    align-items: center
    justify-content: space-between   
    background-color: $header-background-light 
    padding: 0.5rem
    position: relative
    width: 100%

ul
    display: flex
    align-items: center
    justify-content: center
    gap: 0.3rem

li 
    list-style: none
    font-size: 1rem
    color: $header-color-light
    cursor: pointer

li:hover 
    text-decoration: underline

span 
    color: $header-color-light

.titleLogo 
    color: $primary-green-light
    padding-inline: 1rem

img 
    width: 25px

.darkMode 
    width: 27px

.r 
    color: $header-color-light
    font-weight: 100

.icons 
    display: flex
    align-items: center
    justify-content: center
    gap: 0.5rem
    padding-inline: 1rem

.lang 
    cursor: pointer

.langModal
    position: absolute
    display: flex
    align-content: center
    justify-content: center
    flex-direction: column
    right: 0.5%
    top: 6%
    background-color: $header-background-light
    padding: 1rem
    gap: 1rem
    border-radius: 2px
    li 
        font-size: 1rem
        padding: 0.5rem

.langModal
    li:hover 
        background-color: $active-green-light
        border-radius: 8px


.mainPageBox 
    display: flex
    align-items: flex-start
    justify-content: center
    flex-direction: column
    max-width: 760px
    margin: 2rem 0rem
    h1 
        margin: 1rem 
        font-size: 3rem
        color: $header-background-light
    p
        font-size: 1.2rem
        line-height: 1.7777
        color: $header-background-light
    img
        width: 45rem
        border-radius: 1rem
        margin: 1rem 0rem


.instructionBox 
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: column


.instruction
    display: flex
    align-items: flex-start
    justify-content: center
    flex-direction: column
    width: 60%
    margin-top: 2rem
    h1
        color: $header-background-light
        margin: 1rem auto
        font-size: 3rem
    p
        color: $header-background-light
        line-height: 1.7777
        font-size: 1.2rem
    ul
        flex-direction: column
        align-items: flex-start
        font-size: 1.2rem
        li
            color: $header-background-light
            font-size: 1.2rem
        li:hover 
            cursor: auto
            text-decoration: none
                 

.recommendationBox
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: column
    .text
        display: flex
        align-items: flex-start
        justify-content: center
        flex-direction: column
        width: 60%
        margin-top: 2rem
        gap: 0.5rem
        h1
            color: $header-background-light
            margin-bottom: 1.5rem
        h3
            color: $header-background-light
            font-size: 1.5rem
        p
            color: $header-background-light
            font-size: 1.2rem


aside 
    margin: 6rem 1rem
    ul
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        li
            color: $primary-green-light
            padding: 1rem
            border-radius: 8px
            font-size: 1rem
            font-weight: 500
            text-align: center
        li:hover 
            background: $primary-green-light
            color: $active-color-light
            text-decoration: none

.asideMainBox 
    display: flex
    align-items: flex-start
    justify-content: center
    gap: 2rem



.authorBox
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: column 
    background-image: url('/indonesia.jpg')
    background-size: cover
    .infoBox
        display: flex
        align-items: flex-start
        justify-content: center
        flex-direction: column
        width: 60%
        margin-top: 2rem
        gap: 0.5rem
        h1
        margin: 1rem 
        font-size: 3rem
        color: $header-background-light
        color: white
        p
        color: $header-background-light
        line-height: 1.7777
        font-size: 1.2rem
        color: white









@media (max-width: 1000px) 
    .mainPageBox
        padding-inline: 2rem 
        img
            width: 35rem


    nav
        flex-direction: column
        gap: 1rem
        padding: 1rem


@media (max-width: 782px)
    .asideMainBox
        flex-direction: column
        gap: 0rem
        justify-content: center
        align-items: center 
        aside
            margin: 1rem 0rem 0rem 0rem


@media (max-width: 705px)
    nav
        ul
            display: grid
            grid-template-columns: 1fr 1fr
            align-items: center
            justify-items: stretch
            li
                padding-inline: 2rem
            span
                display: none


@media (max-width: 612px)
    .mainPageBox
        img
            width: 400px
